<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New York Times API</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="top">
      <ul>
        <li id="home"><a href="">Home</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Services</a></li>
        <li><a href="/view">Saved Articles</a></li>
        <li id="login"><a href="">Log In | Register</a></li>
      </ul>
    </div>
    <div id="header">
      <h1>This is the Logo</h1>
      <p id='timetarget'></p>

      <hr>
      <div id="nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <hr>
    </div>

    <div class="art">
      <h4>
          <%= article.title %>
      </h4>
      <p><%= article.abstract %></p>
      <p><%= article.byline %></p>
      <p><%= article.thoughts %></p>

    <a href="/view">Back</a>
    <a href="<%= `/${article.id}/edit`%>">Edit details</a>

    </div>

    <div id="footer">
      <p>&copy;yang</p>
    </div>
    <script src="date.js" type="text/javascript"></script>
  </body>
</html>
